body {
  font-family: "TS-Reg", "sans-serif";
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container {
  padding: 10px;
  margin: 0 auto;
  width: 1140px;
}

h1 {
  font-size: 54px;
  font-weight: bolder;
  font-family: "TS-Med", "sans-serif";
  margin-bottom: 15px;
}

h2 {
  font-size: 28px;
  font-weight: bolder;
  font-family: "TS-Med", "sans-serif";
  margin-bottom: 15px;
}

h3 {
  font-size: 28px;
  font-weight: bolder;
  font-family: "TS-Reg", "sans-serif";
}

h4 {
  font-size: 24px;
  line-height: 29px;
  font-weight: lighter;
  font-family: "TS-Med", "sans-serif";
  margin-bottom: 20px;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: lighter;
  font-family: "TS-Med", "sans-serif";
}

header {
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100vw;
  background-color: white;
}

header .container {
  display: flex;
  max-width: 1140px;
  .icontxt:nth-child(1) {
    display: none;
  }
}

main .container {
  margin-top: 100px;
}

.logo1 {
  height: 45px;
  width: 200px;
  display: flex;
  align-items: center;
  object-fit: cover;
}

.logo1:hover {
  cursor: pointer;
}

.logo1 img {
  width: 190px;
}

.headernav {
  display: flex;
}

.searchbar {
  flex: 1;
  border-radius: 30px;
  padding-left: 10px;
  margin-right: 20px;
  margin-left: 20px;
  border: #555555 solid 2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 45px;
}

.searchbar:hover {
  cursor: text;
}

.searchbar i:hover {
  cursor: auto;
}

.icontxt {
  flex: 0.5;
  display: flex;
  align-items: center;
  height: 45px;
  padding: 15px;
  box-sizing: border-box;
}

.icontxt i {
  margin-right: 7px;
}

.icontxt:hover {
  cursor: pointer;
  background-color: #ededed;
  border-radius: 45px;
}

.navtxt {
  font-weight: bold;
}

.button button {
  flex: 1;
  background-color: black;
  color: white;
  border-radius: 45px;
  height: 45px;
  width: 150px;
  margin: auto 10px;
  font-family: "TS-Reg", "sans-serif";
  font-size: 16px;
  border: none;
}

.button button:hover {
  background-color: #333333;
  cursor: pointer;
}

.baseline {
  font-size: 14px;
  text-align: justify;
  color: #555555;
  margin-bottom: 30px;
}

.colorful {
  color: #ff5e5e;
}

.surline {
  text-decoration: underline;
}

.surline:hover {
  cursor: pointer;
}

.mkchoice {
  display: flex;
  margin-bottom: 25px;
  gap: 10px 10px;
}

.choicedesc:nth-child(6),
.choicedesc:nth-child(7) {
  display: none;
}

.choicedesc {
  padding: 15px;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 12px;
  box-sizing: border-box;
  height: 70px;
  display: flex;
  font-family: "TS-Med", "sans-serif";
}

.choicedesc:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.choicedesc:nth-child(6) {
  margin-right: 0px;
}

.choicetxt {
  line-height: 20px;
  width: 70%;
}

.pictures {
  display: flex;
  height: 430px;
  margin-bottom: 20px;
  gap: 2px;
}

.pic1 {
  flex: 1;
  height: 100%;
}

.image1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.otherpic {
  height: 100%;
  gap: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic2 {
  display: flex;
  height: calc((100% - 2px) / 2);
  width: 100%;
}

.image2 {
  object-fit: cover;
  width: 100%;
}
.image3 {
  object-fit: cover;
  width: 100%;
}

.pic-desc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.location {
  display: flex;
  position: relative;
}

.imp {
  font-size: 12px;
  color: #555555;
}

.impi {
  font-size: 6px;
  position: absolute;
  bottom: 2px;
  right: -8px;
}

.impo {
  font-size: 12px;
  color: #555555;
}

.articlecontent {
  display: flex;
  justify-content: space-between;
}

#article {
  margin-top: 70px;
  margin-bottom: 75px;
}

.text {
  max-width: 560px;
}
.sublimetext {
  font-family: "georgia", "sans-serif";
  text-align: left;
  line-height: 24px;
  font-size: 20px;
  width: 100%;
  color: #333333;
}

.border {
  background-color: #fe5e5e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bordertxt {
  line-height: 22px;
}

.border button {
  background-color: #333333;
  color: white;
  border-radius: 25px;
  height: 65px;
  width: 150px;
  font-family: "TS-Med", "sans-serif";
  font-size: 16px;
  border: none;
}

.border button:hover {
  background-color: black;
  cursor: pointer;
}

.map {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 400px;
}

.placestogo {
  margin-top: 35px;
  display: flex;
  gap: 15px;
  min-height: 300px;
}

.placestxt {
  width: 220px;
  margin-right: 60px;
}

.placestxt p {
  font-family: "Georgia", "sans-serif";
  width: 280px;

  line-height: 22px;
  font-size: 18px;
  color: #333333;
  margin-bottom: 15px;
  color: #545454;
}

.placestxt span,
.loctitle span {
  font-family: "TS-Med";
  text-decoration: underline;
  color: #545454;
}

.placestxt span:hover,
.loctitle span:hover {
  cursor: pointer;
  color: #545454;
}
.ppdesc {
  color: #333333;
  font-size: 14px;
  line-height: 17px;
}

.scroller {
  display: flex;
  gap: 15px;
  flex: 1;
  overflow: hidden;
  overflow-x: scroll;
}

.placespictures {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;

  width: calc((100% / 3) - 10px);
  position: relative;
}

.placespictures:hover {
  cursor: pointer;
  opacity: 80%;
}

.picicon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  background-color: white;
  height: 40px;
  width: 40px;
}

.placespictures img {
  width: 100%;
  aspect-ratio: 4/3;
}

#places {
  margin-bottom: 35px;
}

.title {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 80px;
}

#parisian {
  margin-bottom: 80px;
}
.line {
  background: black;
  height: 1px;
  width: 100%;
}
.titletext {
  height: 50px;
  background-color: black;
  width: 290px;
  position: absolute;
}

.titletext p {
  color: white;
  text-align: center;
  line-height: 50px;
}

.parisianpicture {
  display: flex;
  position: relative;
  justify-content: center;
  padding-left: 250px;
}

.parisianpicture:hover {
  opacity: 80%;
  cursor: pointer;
}

.parisiantxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 322px;
  width: 367px;
  position: absolute;
  top: 150px;
  left: 25px;
  background-color: #eafaf4;
  padding: 30px 30px;
  box-sizing: border-box;
}

.parisiantxt .author {
  text-align: center;
  font-family: TS-Med;
  margin-bottom: 25px;
  margin-top: 20px;
}

.parisiantxt .desc {
  font-size: 18px;
  text-align: center;
  font-family: TS-Med;
  margin-bottom: 25px;
}

.parisiantxt .txt {
  text-align: center;
  font-family: Georgia;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 25px;
}

#location {
  margin-bottom: 100px;
}

.loctitle {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}

.parisloc {
  font-size: 24px;
  line-height: 29px;
  font-weight: bolder;
}

.loctogo {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  overflow-x: scroll;
}

.locpictures {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 5px;
  width: calc((100% - 30px) / 3);
}

.locpictures:hover {
  cursor: pointer;
  opacity: 80%;
}

.locpictures img {
  width: 100%;
  aspect-ratio: 4/3;
}

.price {
  font-size: 16px;
}
/* FOOTER ------------------------------ */

footer {
  background-color: #faf1ed;
}

footer .container {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signature {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 10px;
}

.signature img {
  height: 100%;
}

.signaturetxt a {
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-family: TS-Med, sans-serif;
}

.signaturetxt a:hover {
  color: #545454;
}

@media (max-width: 1184px) {
  header {
    background-color: red;
  }

  .container {
    margin: 0 auto;
    height: 100%;
    width: 95vw;
  }
  .mkchoice {
    height: 100px;
    flex-flow: row wrap;
  }

  .choicedesc {
    flex: none;
    flex-shrink: 0;
    height: 45px;
    width: calc((100% - 30px) / 4);
  }

  .pictures {
    height: 380px;
  }

  .pic1 {
    width: 60vw;
  }

  .otherpic {
    min-width: 400px;
  }

  .choicedesc:nth-child(6) {
    display: flex;
  }
  .choicedesc:nth-child(7) {
    display: flex;
  }

  .sublimetext {
    width: 46vw;
    border: 1px solid black;
  }

  .articlecontent {
    border: 1px solid black;
  }
}

@media (max-width: 1024px) {
  header {
    background-color: green;
  }
}
@media (max-width: 768px) {
  header {
    background-color: coral;
  }
  header .container {
    .icontxt:nth-child(1) {
      display: block;
    }
  }
}
